__pycache__
.idea
**/.idea
*.kate-swp
.secrets
**/nohup.out
.aider*
**/node_modules
**/.#*

# Python packaging
*.egg-info/
*.egg
dist/
build/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/