[Unit]
Description="monitors"

[Timer]
AccuracySec=1s
#OnCalendar=minutely
OnCalendar=*:*:00/30 
Unit=monitors.service


[Install]
WantedBy=multi-user.target
