[Unit]
Description="sleep_agent"
StartLimitIntervalSec=60
StartLimitBurst=40

[Service]
ExecStart=/home/koom/hackery2/src/hackery2/bin/sleep_agent.py
Environment="PYTHONUNBUFFERED=1"

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true


#[Install]
#WantedBy=multi-user.target
