[Unit]
Description="sleep_agent"

[Timer]
AccuracySec=5s
OnBootSec=10
OnUnitActiveSec=5


Unit=sleep_agent.service


[Install]
WantedBy=multi-user.target
