[Unit]
Description=Ambient Agent Service
After=network.target

[Service]
ExecStart=/home/koom/hackery2/data/ambi/ambi_env/bin/python /home/koom/hackery2/data/ambi/main.py
WorkingDirectory=/home/koom/hackery2/data/ambi
Restart=always
User=koom
Group=koom

[Install]
WantedBy=multi-user.target
